<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "@id": "{{ meta.url }}{{ page.url }}#collectionpage",
    "name": "{{ title }}",
    "description": "{{ description }}",
    "url": "{{ meta.url }}{{ page.url }}",
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "inLanguage": "{{ meta.lang }}",
    "breadcrumb": {
      "@id": "{{ meta.url }}{{ page.url }}#breadcrumb"
    }
  }
</script>
