<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {%- for faq in faqs %}
      {
        "@type": "Question",
        "name": "{{ faq.question | safe }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ faq.answer | striptags | safe }}"
        }
      }{% if not loop.last %},{% endif %}
      {%- endfor %}
    ]
  }
</script>
