<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "@id": "{{ meta.url }}#organization",
    "name": "{{ meta.siteName }}",
    "url": "{{ meta.url }}",
    "email": "{{ meta.email }}",
    "description": "{{ meta.description }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ meta.url }}/assets/images/nullEDGElogo.png"
    },
    "sameAs": [
      "{{ meta.social.youtube }}"
    ]
  }
</script>
