{% set metaDescription %}
  {%- if discover.description -%}
    {{- discover.description -}}
  {%- elif description -%}
    {{- description -}}
  {%- else -%}
    {{- meta.siteDescription -}}
  {%- endif -%}
{% endset %}

<meta name="description" content="{{ metaDescription }}" />
<meta name="theme-color" content="{{ meta.themeDark }}" />
<!-- Search Engines -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
<!-- Made with Eleventy! -->
<meta name="generator" content="{{ eleventy.generator }}" />
<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no" />
<!-- dark color scheme only -->
<meta name="color-scheme" content="dark" />
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ meta.url }}{{ page.url }}" />
<!-- Links to information about the author(s) of the document -->
<link rel="author" href="humans.txt" />

{% if personal.platforms.mastodon %}
  <!-- Mastodon verified site -->
  <link rel="me" href="{{ personal.platforms.mastodon }}" />
{% endif %}

{% if meta.author.fediverse %}
  <!-- fediverse creator tag -->
  <meta name="fediverse:creator" content="{{ meta.author.fediverse }}" />
{% endif %}

<!-- Open Graph meta  -->
<meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{%- if discover.title -%}
    {{- discover.title -}}
  {%- elif title -%}
    {{- title -}}
  {%- else -%}
    {{- meta.siteName -}}
  {%- endif -%}"
/>
{%- set ogImageUrl -%}
  {%- if ogImage -%}
    {{- meta.url -}}{{- ogImage -}}
  {%- elif session -%}
    {{- meta.url -}}/assets/og-images/session-{{ session.title | slugify }}-preview.jpeg
  {%- elif eventData and eventData.id -%}
    {{- meta.url -}}/assets/og-images/event-{{ eventData.id }}-preview.jpeg
  {%- elif layout == 'post' -%}
    {{- meta.url -}}/assets/og-images/{{ title | slugify }}-preview.jpeg
  {%- else -%}
    {{- meta.url -}}{{- meta.opengraph_default -}}
  {%- endif -%}
{%- endset -%}

{% set ogImageAltText -%}
{%- if ogImageAlt -%}
{{- ogImageAlt -}}
{%- elif session -%}
{{- session.title -}} - nullEDGE 2025
{%- elif eventData -%}
{{- eventData.name -}} - nullEDGE 2026
{%- elif layout == 'post' -%}
{{- title -}}
{%- else -%}
{{- meta.opengraph_default_alt -}}
{%- endif -%}
{%- endset %}

<meta property="og:image" content="{{ ogImageUrl }}" />
<meta property="og:image:alt" content="{{ ogImageAltText }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:description" content="{{ metaDescription }}" />
<meta property="og:site_name" content="{{ meta.siteName }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta property="article:author" content="{{ meta.author.name }}" />

<!-- Twitter specific head data was removed in v2 -->

<!-- RSS Autodiscovery. Loops over meta.blog.feedLinks -->
{% for feedLink in meta.blog.feedLinks %}
  <link
    rel="alternate"
    type="{{ feedLink.type }}"
    title="{{ feedLink.title }}: {{ meta.siteName }}"
    href="{{ feedLink.url }}"
  />
{% endfor %}

<!-- Favicon: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
