{# Registration Form Macro
Usage:
{% from "partials/registration-form.njk" import registrationForm %}
{{ registrationForm(
  widgetId="jnRRO1a1NaAslxvWaGqy1nG83",
  iframeSrc="https://registration.events.ringcentral.com/widgets/registration/nullstack-alpha"
) }}
#}

{% macro registrationForm(widgetId="", iframeSrc="") %}
{% if widgetId and iframeSrc %}
<div id="{{ widgetId }}" class="hopin-container"></div>
<script>
(function() {
  var container = document.getElementById('{{ widgetId }}');
  var iframe = document.createElement('iframe');
  iframe.src = '{{ iframeSrc }}?widget_id={{ widgetId }}' + window.location.search.replace('?', '&');
  container.appendChild(iframe);
})();
</script>
<style>
.hopin-container { 
  overflow: hidden;
  padding-top: 75.25%; 
  position: relative;
}

.hopin-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
</style>
{% endif %}
{% endmacro %}
